# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI for Monolith

# NOTE: PATH IS "./code/beastly-brawl-showdown"

on:
  push:
    branches:
      - '*' # Run pipeline on all branches when pushed
  pull_request:
    branches:
      - '*' # Run pipeline on all branches when pushed

jobs:
  test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./code/beastly-brawl-showdown # Change default "run" actions to run from this directory (NOT "use")
    
    strategy:
      matrix:
        node-version: [22.x] # [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: "Checkout repository"
      uses: actions/checkout@v4

    - run: npm install
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './code/beastly-brawl-showdown/package-lock.json' # Target the correct lock file
        
    - name: "Install meteor"
      run: |
          curl https://install.meteor.com/ | sh
          export PATH=$PATH:/home/runner/.meteor
          
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
